body {
  background-color: antiquewhite;
  font-family: Verdana, Tahoma, sans-serif;
  color: #000000;
  padding: 16px;
  text-align: left;
}
.head {
  text-align: center;
}
.pictext {
  height: 300px;
  columns: 2;
  border-top: 4px solid rgb(128, 18, 18);
  border-bottom: 4px solid rgb(128, 18, 18);
  margin: 16px 0px;
  padding: 16px 0px;
}
.pictext img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.pictext .descrip {
  text-align: left;
}
.descrip h2 {
  font-size: 28px;
}
.return {
  font-size: 20px;
  background-color: rgb(175, 227, 120);
  color: #000000;
  text-decoration: none;
}
.return:hover {
  font-weight: bold;
}
#container {
  padding: 32px;
  background-color: rgb(175, 227, 120);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 8px
}
#container img {
  max-width: 100%;
}
.card {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000000;
  background-color: rgb(255, 254, 238);
}
.card a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #000000;
  justify-items: end;
  height: 100%;
}
.card a:hover {
  color: rgb(128, 18, 18);
  background-color: aliceblue;
}
.card:hover {
  background-color: aliceblue;
}
.card img {
  display: flex;
  width: 400px;
  flex-basis: auto;
  margin-bottom: auto;

}
.card a div {
  display: flex;
  margin-top: 8px;
  align-self: center;
}
.pic {
  width: 500px;
}
.instruct,
.note {
  padding: 8px 16px;
  font-size: 18px;
}
.instruct {
  background-color: rgb(175, 227, 120);
  padding: 8px 16px;
  border: 3px 0px solid rgb(128, 18, 18);
  border-style: outset;
  border-radius: 10px;
  font-size: 18px;
}
.instruct li {
  margin: 8px;
}